.book-cr-div{
    z-index: 20;
}
.book-create{
    display: block;
}

.book-show:hover{
background: #d7d7d7;

}
.book-show > img:hover{
        filter: grayscale(100%);
}
.book-sh-div{
    overflow-y: hidden;
}
.btn-bottom{
    position: fixed;
    bottom:200px;
    right: 0px;
    z-index: 400;
    writing-mode: vertical-rl;
    text-orientation: upright;
    cursor: pointer;
    height: 150px;
    width: 40px;
    opacity: 0.5;
    font-weight: bolder;
    padding-bottom: 2px; 
}
.btn-bottom:hover {
    opacity: 1;
}
